@model List<Student>
@{
    ViewBag.Title = "Home";
}
@foreach (var student in Model)
{
    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @student.StudentName
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8">
                        <p>Student Id: @student.StudentId</p>
                        <p>Dob:@student.Year</p>
                        <p>Gender: @student.Gender</p>
                        <p>Email: @student.Email</p>

                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <a href="/Home/Detail/@student.StudentId" class="btn btn-primary">Detail</a>
            </div>
        </div>
    </div>
}
